@import '../iconfont/iconfont.css';
@import './vars.less';
@import './transition.less';
@import '../components/drawer/style.less';
@import '../components/tabs/style.less';
@import '../components/modal/style.less';
@import '../components/button/style.less';
@import '../components/iconfont/style.less';

:root {
  --uni-border-color: #D9E0EC;
  --uni-font-color-grey: #8C99B0;
  --uni-main-color: #118DF9;
  --uni-border-radius: 4px;
  --uni-font-color: #393939;
  color: var(--uni-font-color);
}

html {
  line-height: inherit;
  font-size: 14px;
  font-family: @font-family;
}
* {
  box-sizing: border-box;
}
